<div class="container-fluid" style="margin-top: 16px;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Resource items</li>
        </ol>
    </nav>
    <h1>Resource items</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam maximus aliquam velit, sed malesuada ligula blandit vel.
    </p>

    <div class=" page-contenu ">
        <div class="">
            <div class="">
                <table datatable [dtOptions]="dtOptions " [dtTrigger]="dtTrigger " class="row-border hover ">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Date</th>
                            <th>Resource/Pack</th>
                            <th style="text-align: right;">Quantity</th>
                            <th style="text-align: right;">Quantity Category</th>
                            <th>Category</th>
                            <th style="text-align: right;">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let purchase of purchases" (click)="edit(purchase)">
                            <td>{{purchase.id}}</td>
                            <td>{{purchase.date | date: 'yyyy-MM-dd'}}</td>
                            <td>
                                <ng-container *ngIf="purchase.resource">
                                    <span style="float: right;">
                                        {{purchase.resource.content}} {{purchase.resource.unit}}
                                    </span> {{purchase.resource.name}}
                                </ng-container>
                                <ng-container *ngIf="purchase.resourcepack">
                                    <span style="float: right;">
                                        {{purchase.resourcepack.resource.content * purchase.resourcepack.quantity}} {{purchase.resourcepack.resource.unit}}
                                    </span> {{purchase.resourcepack.name}}
                                </ng-container>
                            </td>
                            <td style="text-align: right;">{{purchase.quantity}}</td>
                            <td style="text-align: right;">
                                <ng-container *ngIf="purchase.resource">
                                    {{purchase.quantity * purchase.resource.content}} {{purchase.resource.unit}}
                                </ng-container>
                                <ng-container *ngIf="purchase.resourcepack">
                                    {{purchase.quantity * purchase.resourcepack.quantity *purchase.resourcepack.resource.content}} {{purchase.resourcepack.resource.unit}}
                                </ng-container>
                            </td>
                            <td>
                                <ng-container *ngIf="purchase.resource">
                                    {{purchase.resource.category.name }}
                                </ng-container>
                                <ng-container *ngIf="purchase.resourcepack">
                                    {{purchase.resourcepack.resource.category.name }}
                                </ng-container>
                            </td>
                            <td style="text-align: right;">{{purchase.price | currency:'':''}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>