<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page">Shop</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled">Bar</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled">Restau</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled">Service</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled">Personnalized</a>
    </li>
</ul>
<div class="m-4">
    <div class="row">
        <div class="col-lg-2">
            <div class="hauteur">
                <div class="mb-3">
                    <button (click)="newBill()" class="btn btn-primary" style="width: 100%;">
                        New bill
                    </button>
                </div>
                <ul class="list-group list-group-flush">
                    <li (click)="viewBill(bill)" *ngFor="let bill of bills" class="list-group-item">
                        BILL {{bill.code}}
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-10">
            <div class="card shadow-lg p-2">
                <div class="card-body">
                    <div class="mb-3">
                        <div>
                            BILL {{code}}
                        </div>
                    </div>
                    <div *ngIf="!isView" class="row">
                        <div class="col-lg-6">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Product</span>
                                <select [(ngModel)]="saleline.productpack" type="text" class="form-control">
                                    <option [ngValue]="p" *ngFor="let p of productpacks">
                                        {{p.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Quantity</span>
                                <input [(ngModel)]="saleline.quantity" type="number" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="input-group mb-3">
                                <button (click)="add(saleline)" style="width: 100%;" class="btn btn-primary">Add</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <table class="row-border cell-border hover table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th style="text-align: right;">Price</th>
                                        <th style="text-align: right;">Quantity</th>
                                        <th style="text-align: right;">Total</th>
                                        <th *ngIf="!isView" style="text-align: right;">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let s of salelines">
                                        <td>{{s.productpack.name}}</td>
                                        <td style="text-align: right;">{{s.productpack.price | currency:'':''}}</td>
                                        <td style="text-align: right;">{{s.quantity | number}}</td>
                                        <td style="text-align: right;">{{getTotal(s) | currency:'':''}}</td>
                                        <td *ngIf="!isView" style="text-align: right;">
                                            <button (click)="delete(s)" class="btn btn-danger btn-sm">Delete</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>TOTAL</b>
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td style="text-align: right;">
                                            <b>
                                                {{TOTAL | currency:'':''}}
                                            </b>
                                        </td>
                                        <td *ngIf="!isView" style="text-align: right;">
                                            <ng-container>
                                                <ng-container *ngIf="salelines.length > 0">
                                                    <button (click)="deleteAll()" class="btn btn-danger btn-sm">Delete all</button>
                                                </ng-container>
                                            </ng-container>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <ng-container *ngIf="!isView">
                            <div *ngIf="salelines.length > 0" class="mt-4">
                                <div class="mb-3">
                                    <button (click)="save()" class="btn btn-primary">Save</button>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>