<div class="container-fluid" style="margin-top: 16px;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Product packs</li>
        </ol>
    </nav>
    <h1>Product packs</h1>

    <div class=" page-contenu ">
        <div class="">
            <div class="">
                <table datatable [dtOptions]="dtOptions " [dtTrigger]="dtTrigger " class="row-border hover ">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th style="text-align: right;">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let productpack of productpacks" (click)="edit(productpack)">
                            <td>{{productpack.name}}</td>
                            <td>{{productpack.product.name}}</td>
                            <td>{{productpack.quantity}}</td>
                            <td style="text-align: right;">{{productpack.price}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>