<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
            <i class="bi bi-list"></i>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- <form class="d-flex" role="search">
                <input class="form-control me-2" style="width: 400px;" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <ng-container *ngIf="access.dashboard">
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" [routerLink]="'home'" routerLinkActive="active">Dashboard</a>
                    </li>
                </ng-container>

                <ng-container *ngIf="access.pos">
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" [routerLink]="'pos'" routerLinkActive="active">Point of sale</a>
                    </li>
                </ng-container>
                <ng-container *ngIf="access.order">
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" [routerLink]="'bill'" routerLinkActive="active">Orders</a>
                    </li>
                </ng-container>
                <ng-container *ngIf="access.invoice">
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" [routerLink]="'invoice'" routerLinkActive="active">Invoices</a>
                    </li>
                </ng-container>
                <ng-container *ngIf="access.inventory.menu">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Inventories
                        </a>
                        <ul class="dropdown-menu">
                            <ng-container *ngIf="access.inventory.fill">
                                <li>
                                    <a class="dropdown-item" aria-current="page" [routerLink]="'inventory-edit'" routerLinkActive="active">Fill inventory</a>
                                </li>
                            </ng-container>
                            <ng-container *ngIf="access.inventory.analysis">
                                <li>
                                    <a class="dropdown-item" aria-current="page" [routerLink]="'inventory'" routerLinkActive="active">Inventory analysis</a>
                                </li>
                            </ng-container>
                            <ng-container *ngIf="access.inventory.analysis">
                                <li>
                                    <a class="dropdown-item" aria-current="page" [routerLink]="'inventorygroup'" routerLinkActive="active">Inventory History</a>
                                </li>
                            </ng-container>
                        </ul>
                    </li>
                </ng-container>

                <ng-container *ngIf="access.employee">
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" [routerLink]="'employee'" routerLinkActive="active">Employees</a>
                    </li>
                </ng-container>

                <ng-container *ngIf="access.supplier">
                    <li class="nav-item" *ngIf="company?.option.productResource">
                        <a class="nav-link " aria-current="page" [routerLink]="'supplier'" routerLinkActive="active">Suppliers</a>
                    </li>
                </ng-container>

                <ng-container *ngIf="access.client">
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" [routerLink]="'client'" routerLinkActive="active">Clients</a>
                    </li>
                </ng-container>

                <ng-container *ngIf="access.supplier && false">
                    <li class="nav-item" *ngIf="company?.option.productResource">
                        <a class="nav-link " aria-current="page" [routerLink]="'warehouse'" routerLinkActive="active">Warehouse</a>
                    </li>
                </ng-container>

                <ng-container *ngIf="access.product.menu">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Products
                        </a>
                        <ul class="dropdown-menu">
                            <ng-container *ngIf="access.product.it">
                                <li>
                                    <a class="dropdown-item" aria-current="page" [routerLink]="'product'" routerLinkActive="active">Products</a>
                                </li>
                            </ng-container>
                            <ng-container *ngIf="access.product.pack">
                                <li *ngIf="company?.option.productPack">
                                    <a class="dropdown-item" aria-current="page" [routerLink]="'productpack'" routerLinkActive="active">Product Packs</a>
                                </li>
                            </ng-container>
                            <ng-container *ngIf="access.product.item">
                                <li>
                                    <a class="dropdown-item" aria-current="page" [routerLink]="'productitem'" routerLinkActive="active">Product Items</a>
                                </li>
                            </ng-container>
                        </ul>
                    </li>
                </ng-container>

                <ng-container *ngIf="access.resource.menu">
                    <li class="nav-item dropdown" *ngIf="company?.option.productResource">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Resources
                        </a>
                        <ul class="dropdown-menu">
                            <ng-container *ngIf="access.resource.it">
                                <li *ngIf="company?.option.productResource">
                                    <a class="dropdown-item" aria-current="page" [routerLink]="'resource'" routerLinkActive="active">Resources</a>
                                </li>
                            </ng-container>
                            <ng-container *ngIf="access.resource.pack">
                                <li *ngIf="company?.option.productResource">
                                    <a class="dropdown-item" aria-current="page" [routerLink]="'resourcepack'" routerLinkActive="active">Resource Packs</a>
                                </li>
                            </ng-container>
                            <ng-container *ngIf="access.resource.item">
                                <li *ngIf="company?.option.productResource">
                                    <a class="dropdown-item" aria-current="page" [routerLink]="'resourceitem'" routerLinkActive="active">Resource items</a>
                                </li>
                            </ng-container>
                            <ng-container *ngIf="access.resource.confirmation">
                                <li *ngIf="company?.option.productResource">
                                    <a class="dropdown-item" aria-current="page" [routerLink]="'resourceitem-confirmation'" routerLinkActive="active">Resource items confirmation</a>
                                </li>
                            </ng-container>

                        </ul>
                    </li>
                </ng-container>

                <ng-container *ngIf="access.param">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Parameters
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" [routerLink]="'parameter/producttype'">Product Types</a></li>
                            <li><a class="dropdown-item" [routerLink]="'parameter/productcategory'">Product
                                    Categories</a>
                            </li>
                            <li *ngIf="company?.option.productResource">
                                <a class="dropdown-item" [routerLink]="'parameter/resourcecategory'">Resource
                                    Categories</a>
                            </li>
                        </ul>
                    </li>
                </ng-container>

                <li class="nav-item dropdown" style="min-width: 160px; text-align: center; border-left: 1px solid #ccc; margin-left: 40px">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{user ? (user.name ? user.name : user.login) : 'No Login'}},
                        <ng-container *ngIf="user">
                            <ng-container *ngFor="let r of user?.role">
                                {{user ? showLabel(r) : 'Invité'}}
                            </ng-container>
                        </ng-container>

                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item">Compte</a></li>
                        <li><a class="dropdown-item" (click)="signOut()">Déconnexion</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>