<div class="container-fluid" style="margin-top: 16px;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Employees</li>
        </ol>
    </nav>
    <h1>Employees</h1>

    <div class=" page-contenu ">
        <div class="">
            <div class="">
                <table datatable [dtOptions]="dtOptions " [dtTrigger]="dtTrigger " class="row-border hover ">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Login</th>
                            <th>Position</th>
                            <th>Role</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let employee of employees" (click)="edit(employee)">
                            <td>{{employee.names}}</td>
                            <td>{{employee.login}}</td>
                            <td>{{employee.position.name}}</td>
                            <td>{{employee.role}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>