<div class="container-fluid" style="margin-top: 16px;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>Home</a></li>
            <li class="breadcrumb-item"><a [routerLink]="'/resourcepack'">Resource packs</a></li>
            <li class="breadcrumb-item active" *ngIf="isNewResourcepack">new</li>

            <li class="breadcrumb-item active" *ngIf="!isNewResourcepack"><a [routerLink]="'/resourcepack/view/' + resourcepack.id">{{resourcepack.name}}</a></li>
            <li class="breadcrumb-item active" *ngIf="!isNewResourcepack">Edit</li>
        </ol>
    </nav>
    <h1 *ngIf="!isNewResourcepack" class="titre">
        Modify resource pack {{resourcepack.id}}
    </h1>
    <h1 *ngIf="isNewResourcepack" class="titre">Add a resource pack</h1>
    <div style="margin-top: -10px; margin-bottom: 20px;">
        Company : {{company.name}}
    </div>

    <div class="first-step">
        <p>
            Resourcepack Infos
        </p>
        <div class=" page-contenu ">
            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Name</span>
                        <input [(ngModel)]="resourcepack.name" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Price</span>
                        <input [(ngModel)]="resourcepack.price" type="number" class="form-control">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Resource</span>
                        <select [(ngModel)]="resourcepack.resource" type="text" class="form-control">
                            <option [ngValue]="p" *ngFor="let p of resources">
                                {{p.name}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Quantity</span>
                        <input [(ngModel)]="resourcepack.quantity" type="number" class="form-control">
                    </div>
                </div>
            </div>
            <div>
                <button (click)="save()" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>

</div>