<div class="container-fluid" style="margin-top: 16px;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Client groups</li>
        </ol>
    </nav>
    <h1>Client groups</h1>

    <div class=" page-contenu ">
        <div class="">
            <div class="">
                <table datatable [dtOptions]="dtOptions " [dtTrigger]="dtTrigger " class="row-border hover ">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th style="text-align: right;">Discount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let clientgroup of clientgroups" (click)="edit(clientgroup)">
                            <td>{{clientgroup.name}}</td>
                            <td style="text-align: right;">{{clientgroup.reductionglobale ? clientgroup.reductionglobale : 0}}%</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>