<div class="container-fluid" style="margin-top: 16px;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>Home</a></li>
            <li class="breadcrumb-item"><a [routerLink]="'/warehouse'">Warehouses</a></li>
            <li class="breadcrumb-item active" *ngIf="isNewWarehouse">new</li>
            <li class="breadcrumb-item active" *ngIf="!isNewWarehouse"><a [routerLink]="'parameter/warehouse/edit/' + warehouse.id">{{warehouse.name}}</a></li>
            <li class="breadcrumb-item active" *ngIf="!isNewWarehouse">Edit</li>
        </ol>
    </nav>
    <h1 *ngIf="!isNewWarehouse" class="titre">
        <button style="float: right;" (click)="delete()" class="btn btn-danger btn-error">
            Delete
        </button> Modify warehouse {{warehouse.id}}
    </h1>
    <h1 *ngIf="isNewWarehouse" class="titre">Add a warehouse</h1>

    <div *ngIf="step === 1" class="first-step">
        <p>
            Warehouse Infos
        </p>
        <div class=" page-contenu ">
            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Name</span>
                        <input [(ngModel)]="warehouse.name" type="text" class="form-control" [ngClass]="{'is-invalid': showErrors1 && (errorWarehouseName)}">
                    </div>
                    <div class="errors" style="margin-bottom: 20px; color: red; margin-top: -5px; font-size: 0.9em;">
                        <div *ngIf="errorWarehouseName">
                            Required field
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">Description</span>
                        <textarea [(ngModel)]="warehouse.description" type="text" class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <div>
                <button (click)="endFirstStep()" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>

</div>