<div *ngIf="!user" class="connexion">
    <div class="connexion-contenu shadow-lg">
        <div class="connexion-titre">
            <h1>
                TAMERI ERP
            </h1>
        </div>
        <div class="connexion-form">

            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group mb-3">
                        <span class="input-group-text">
                            Pays
                        </span>
                        <select [(ngModel)]="country" class="form-control" [ngClass]="{'is-invalid': (!country) && errorCountry}">
                            <option [value]="null"></option>
                            <option [ngValue]="c" *ngFor="let c of countries">
                                ({{ c.dial_code }}) {{c.name}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Tel</span>
                        <input [(ngModel)]="tel" type="text" class="form-control" [ngClass]="{'is-invalid': error}">
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Password</span>
                <input [(ngModel)]="password" type="password" class="form-control" [ngClass]="{'is-invalid': error}">
            </div>
            <div style="margin-top: 10px;">
                <button (click)="signin()" class="btn btn-primary" style="width: 100%;">Sign In</button>
            </div>
        </div>
    </div>
</div>