<div class="container-fluid" style="margin-top: 16px;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>Home</a></li>
            <li class="breadcrumb-item"><a [routerLink]="'/invoice'">Invoices</a></li>
            <li class="breadcrumb-item active"><a>{{sale.code}}</a></li>
        </ol>
    </nav>
    <h1>
        <button style="float: right;" (click)="delete(sale)" class="btn btn-danger btn-error">
            Delete
        </button>
        <div>Invoice {{sale.code}}</div>
    </h1>
    <p *ngIf="sale.order && sale.order._id">
        Order : <a [routerLink]="'/order/view/'+ sale.order._id">{{sale.order.id}}</a>
    </p>
    <p>
        <button *ngIf="sale.good" type="button" class="btn btn-outline-primary btn-sm" style="margin-right: 10px;">PAID</button>
        <button *ngIf="sale.delivery" type="button" class="btn btn-outline-primary btn-sm">DELIVERED</button>
    </p>
    <div>
        <div>
            <div class="mt-4 mb-2">
                <div class="input-group mb-3">
                    <span class="input-group-text">Client</span>
                    <input [value]="sale.client.firstname + ' ' + sale.client.name" class="form-control">
                </div>
            </div>
        </div>
        <div>
            <table class="row-border cell-border hover table table-bordered">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th style="text-align: right;">Price</th>
                        <th style="text-align: right;">Quantity</th>
                        <th style="text-align: right;">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let s of sale.salelines">
                        <td>{{s.productpack.name}}</td>
                        <td style="text-align: right;">{{s.productpack.price | currency:'':''}}</td>
                        <td style="text-align: right;">{{s.quantity | number}}</td>
                        <td style="text-align: right;">{{getTotal(s) | currency:'':''}}</td>
                    </tr>
                    <tr>
                        <td>
                            <b>TOTAL</b>
                        </td>
                        <td></td>
                        <td></td>
                        <td style="text-align: right;">
                            <b>
                                {{TOTAL | currency:'':''}}
                            </b>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>DISCOUNT</b>
                        </td>
                        <td></td>
                        <td></td>
                        <td style="text-align: right;">
                            <b>
                                {{sale.reduction ? sale.reduction: 0 | currency:'':''}}
                            </b>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>NET PAYABLE</b>
                        </td>
                        <td></td>
                        <td></td>
                        <td style="text-align: right;">
                            <b>
                                {{sale.reduction ? TOTAL - sale.reduction: TOTAL | currency:'':''}}
                            </b>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

        <div>
            <ng-container *ngIf="!sale.delivery">
                <button class="btn btn-primary" (click)="setDelivered(sale)">
                    Set as delivered
                </button> &nbsp; &nbsp;
            </ng-container>

            <ng-container *ngIf="sale.delivery">
                <button class="btn btn-primary" (click)="setNotDelivered(sale)">
                    Set as NOT delivered
                </button> &nbsp; &nbsp;
            </ng-container>

            <button *ngIf="!sale.good" (click)="setPaid(sale)" class="btn btn-primary">Set as paid</button>
            <button *ngIf="sale.good" (click)="setNotPaid(sale)" class="btn btn-primary">Set as NOT paid</button>

            <ng-container *ngIf="!sale.delivery && false">
                &nbsp; &nbsp;
                <button class="btn btn-danger" (click)="delete(sale)">
                    Cancel the order
                </button>
            </ng-container>
        </div>
    </div>
</div>