<div class="container-fluid" style="margin-top: 16px;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>Home</a></li>
            <li class="breadcrumb-item"><a [routerLink]="'/parameter/producttype'">Product Types</a></li>
            <li class="breadcrumb-item active" *ngIf="isNewProducttype">new</li>
            <li class="breadcrumb-item active" *ngIf="!isNewProducttype"><a [routerLink]="'parameter/producttype/edit/' + producttype.id">{{producttype.name}}</a></li>
            <li class="breadcrumb-item active" *ngIf="!isNewProducttype">Edit</li>
        </ol>
    </nav>
    <h1 *ngIf="!isNewProducttype" class="titre">
        <button style="float: right;" (click)="delete()" class="btn btn-danger btn-error">
            Delete
        </button> Modify producttype {{producttype.id}}
    </h1>
    <h1 *ngIf="isNewProducttype" class="titre">Add a product type</h1>

    <div *ngIf="step === 1" class="first-step">
        <p>
            Producttype Infos
        </p>
        <div class=" page-contenu ">
            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Name</span>
                        <input [(ngModel)]="producttype.name" type="text" class="form-control" [ngClass]="{'is-invalid': showErrors1 && (errorProducttypeName)}">
                    </div>
                    <div class="errors" style="margin-bottom: 20px; color: red; margin-top: -5px; font-size: 0.9em;">
                        <div *ngIf="errorProducttypeName">
                            Required field
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">Description</span>
                        <textarea [(ngModel)]="producttype.description" type="text" class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <div>
                <button (click)="endFirstStep()" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>

</div>