<div class="container-fluid" style="margin-top: 16px;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a [routerLink]="'/inventory'">Inventories</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{resource.name}}</li>
        </ol>
    </nav>
    <h1>Inventories : {{resource.name}} </h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam maximus aliquam velit, sed malesuada ligula blandit vel.
    </p>

    <div class=" page-contenu ">
        <div class="">
            <div class="">
                <table datatable [dtOptions]="dtOptions " [dtTrigger]="dtTrigger " class="row-border hover ">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let inventory of inventories">
                            <td>{{inventory.date | date: 'yyyy-MM-dd HH:mm'}}</td>
                            <td>{{inventory.quantity | number}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>