<div class="container-fluid" style="margin-top: 16px;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>Home</a></li>
            <li class="breadcrumb-item"><a [routerLink]="'/resource'">Resources</a></li>
            <li class="breadcrumb-item active" *ngIf="isNewResource">new</li>

            <li class="breadcrumb-item active" *ngIf="!isNewResource"><a [routerLink]="'/resource/view/' + resource.id">{{resource.name}}</a></li>
            <li class="breadcrumb-item active" *ngIf="!isNewResource">Edit</li>
        </ol>
    </nav>
    <h1 *ngIf="!isNewResource" class="titre">
        <button style="float: right;" (click)="delete()" class="btn btn-danger btn-error">
            Delete
        </button> Modify resource {{resource.id}}
    </h1>
    <h1 *ngIf="isNewResource" class="titre">Add a resource</h1>
    <div style="margin-top: -10px; margin-bottom: 20px;">
        Company : {{company.name}}
    </div>

    <div class="first-step">
        <p>
            Resource Infos
        </p>
        <div class=" page-contenu ">
            <div class="row">
                <div class="col-lg-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Category</span>
                        <select [(ngModel)]="resource.category" class="form-control" [ngClass]="{'is-invalid': showErrors && !resource.category.name}">
                            <option *ngFor="let rt of resourcetypes" [ngValue]="rt">{{rt.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Name</span>
                        <input [(ngModel)]="resource.name" type="text" class="form-control" [ngClass]="{'is-invalid': showErrors && !resource.name}">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Content</span>
                        <input [(ngModel)]="resource.content" type="number" class="form-control" [ngClass]="{'is-invalid': showErrors && (!resource.content || resource.content <= 0) }">

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Unit {{resource.unit}}</span>

                        <select [(ngModel)]="resource.unit" class="form-control">
                            <ng-container *ngFor="let unit of units">
                                <option [value]="unit.symbole">{{unit.label}}</option>
                            </ng-container>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Price</span>
                        <input [(ngModel)]="resource.price" type="number" class="form-control">
                        <button class="btn btn-primary">
                            {{company.currency}}
                        </button>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Minimum Stock Level</span>
                        <input [(ngModel)]="resource.msl" type="number" class="form-control">
                        <span *ngIf="resource.unit" class="input-group-text">{{resource.unit}}</span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Supplier</span>
                        <select [(ngModel)]="resource.supplier" type="text" class="form-control">
                            <option *ngFor="let s of suppliers" [ngValue]="s">{{s.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div>
                <button (click)="save()" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>

</div>