<div class="container-fluid" style="margin-top: 16px;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>Home</a></li>
            <li class="breadcrumb-item"><a [routerLink]="'/productitem'">Productitems</a></li>
            <li class="breadcrumb-item active" *ngIf="!isNewProductitem">{{productitem.id}}</li>
        </ol>
    </nav>
    <a [routerLink]="'/productitem/edit/' + productitem._id" style="float: right;">Edit</a>
    <h1 *ngIf="!isNewProductitem" class="titre">
        {{productitem.id}}
    </h1>
    <p>
        Company : {{productitem.company.name}}
        <br>
    </p>
    <div class="row">
        <div class="col-lg-7">
            <div class="first-step card shadow-sm">
                <div class="card-body">
                    <p class="card-title">
                        Productitem Infos
                    </p>
                    <div class=" page-contenu ">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Date</span>
                                    <input [ngModel]="productitem.date | date: 'yyyy-MM-dd'" (ngModelChange)="productitem.date = $event" type="date" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-6" *ngIf="productitem.product">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Product</span>
                                    <input readonly [value]="productitem.product.name" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-6" *ngIf="productitem.productpack">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Product Pack</span>
                                    <input readonly [value]="productitem.productpack.name" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Quantity</span>
                                    <input [(ngModel)]="productitem.quantity" type="number" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Price</span>
                                    <input [(ngModel)]="productitem.price" type="number" class="form-control">
                                    <button class="btn btn-primary">
                                        {{company.currency}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div *ngIf="company.option.productResource" class="first-step card shadow-lg">
                <div class="card-body">
                    <p class="card-title">
                        Resources
                    </p>
                    <div class=" page-contenu ">
                    </div>
                    <div>
                        <ul *ngIf="productitem.product">
                            <li *ngFor="let item of productitem.product.resources">
                                {{item.quantity * productitem.quantity}} {{item.resource.unit}} {{item.resource.name}} &nbsp;
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div style="height: 25vh;">

</div>