<div class="container-fluid" style="margin-top: 16px;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Product Types</li>
        </ol>
    </nav>
    <h1>Product Types</h1>

    <div class=" page-contenu ">
        <div class="">
            <div class="">
                <table datatable [dtOptions]="dtOptions " [dtTrigger]="dtTrigger " class="row-border hover ">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let producttype of producttypes" (click)="edit(producttype)">
                            <td>{{producttype.id}}</td>
                            <td>{{producttype.name}}</td>
                            <td>{{producttype.description}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>