<div class="container-fluid" style="margin-top: 16px;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Products</li>
        </ol>
    </nav>
    <h1>Products</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam maximus aliquam velit, sed malesuada ligula blandit vel.
    </p>

    <div class=" page-contenu ">
        <div class="">
            <div class="">
                <table datatable [dtOptions]="dtOptions " [dtTrigger]="dtTrigger " class="row-border hover ">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Type</th>
                            <th style="text-align: right;">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of products" (click)="edit(product)">
                            <td>{{product.id}}</td>
                            <td>{{product.name}}</td>
                            <td>{{product.category}}</td>
                            <td>{{product.type}}</td>
                            <td style="text-align: right;">{{product.price}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>