<div class="container-fluid" style="margin-top: 16px;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Products</li>
        </ol>
    </nav>
    <h1>Products</h1>

    <div class=" page-contenu ">
        <div class="">
            <div class="">
                <table datatable [dtOptions]="dtOptions " [dtTrigger]="dtTrigger " class="row-border hover ">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Type</th>
                            <th style="text-align: right;">Price</th>
                            <th style="text-align: right;">Prod.</th>
                            <th style="text-align: right;">Sales</th>
                            <th style="text-align: right;">Now</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of products" (click)="edit(product)">
                            <td>{{product.id}}</td>
                            <td>
                                <span style="float: right;">
                                    {{product.content}}
                                    {{product.unit}}
                                </span> {{product.name}}
                            </td>
                            <td>{{product.category}}</td>
                            <td>{{product.type}}</td>
                            <td style="text-align: right;">{{product.price | currency:'':''}}</td>
                            <td style="text-align: right;">{{getProductItems(product) | number}}</td>
                            <td style="text-align: right;">{{getSalelines(product) | number}}</td>
                            <td style="text-align: right;">
                                <span class="badge text-bg-primary">
                                    {{getProductItems(product) - getSalelines(product) | number}}
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>