<div class="container-fluid" style="margin-top: 16px;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Resources used</li>
        </ol>
    </nav>
    <h1>Resources used</h1>

    <div class=" page-contenu ">
        <div class="mb-4">
            <div class="">
                <table datatable [dtOptions]="dtOptions " [dtTrigger]="dtTrigger " class="row-border hover ">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Category</th>
                            <th style="text-align: right;">Content</th>
                            <th>Unit</th>
                            <th>Whole</th>
                            <th>Opened</th>
                            <th style="text-align: right;">Now</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let resourceused of resourcesused">
                            <td>
                                {{resourceused.resource.name}}
                            </td>
                            <td>{{resourceused.resource.category.name}}</td>
                            <td style="text-align: right;">{{resourceused.resource.content | number}}</td>
                            <td>{{resourceused.resource.unit}}</td>
                            <td style="text-align: right;">
                                <div class="input-group input-group-sm">
                                    <input style="text-align: right;" type="number" class="form-control" [(ngModel)]="resourceused.whole">
                                    <span class="input-group-text"> * {{resourceused.resource.content}}</span>
                                    <span class="input-group-text">{{resourceused.resource.unit}}</span>
                                </div>
                            </td>
                            <td style="text-align: right;">
                                <div class="input-group input-group-sm">
                                    <input style="text-align: right;" type="number" class="form-control" [(ngModel)]="resourceused.opened">
                                    <span class="input-group-text">{{resourceused.resource.unit}}</span>
                                </div>
                            </td>
                            <td style="text-align: right;">
                                <div class="input-group input-group-sm">
                                    <input style="text-align: right;" type="number" readonly class="form-control" [value]="getResourceusedQuantity(resourceused)">
                                    <span class="input-group-text">{{resourceused.resource.unit}}</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <button class="btn btn-primary" (click)="saveAll()">
                Save this resources used
            </button>
        </div>
    </div>
</div>

<div *ngIf="showWaitingMessage" class="waiting">
    <div class="spinner-border text-primary grand" role="status">
    </div>
    <div class="mt-4">Saving...</div>
</div>