<div class="container-fluid" style="margin-top: 16px;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>Home</a></li>
            <li class="breadcrumb-item"><a [routerLink]="'/resource'">Resources</a></li>
            <li class="breadcrumb-item active" *ngIf="!isNewResource">{{resource.name}}</li>
        </ol>
    </nav>
    <a [routerLink]="'/resource/edit/' + resource.id" style="float: right;">Edit</a>
    <h1 *ngIf="!isNewResource" class="titre">
        {{resource.name}}
    </h1>
    <p>
        Company : {{resource.company.name}}
        <br>
    </p>
    <div class="row">
        <div class="col-lg-8">
            <div class="first-step card shadow-sm">
                <div class="card-body">
                    <p class="card-title">
                        Resource Infos
                    </p>
                    <div class=" page-contenu ">

                        <div class="row">
                            <div class="col-lg-8">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Name</span>
                                    <input [(ngModel)]="resource.name" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Price</span>
                                    <input [(ngModel)]="resource.price" type="number" class="form-control">
                                    <button class="btn btn-primary">
                                        {{company.currency}}
                                    </button>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Content</span>
                                    <input [(ngModel)]="resource.content" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Category</span>
                                    <input readonly [(ngModel)]="resource.category" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Unit</span>
                                    <input readonly [(ngModel)]="resource.unit" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Supplier</span>
                                    <input readonly [value]="resource.supplier?.name" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
        </div>
    </div>

</div>

<div style="height: 25vh;">

</div>