<div class="container-fluid" style="margin-top: 16px;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>Home</a></li>
            <li class="breadcrumb-item"><a [routerLink]="'/parameter/resourcecategory'">Resource Categories</a></li>
            <li class="breadcrumb-item active" *ngIf="isNewResourcetype">new</li>
            <li class="breadcrumb-item active" *ngIf="!isNewResourcetype"><a [routerLink]="'parameter/resourcecategory/edit/' + resourcetype.id">{{resourcetype.name}}</a></li>
            <li class="breadcrumb-item active" *ngIf="!isNewResourcetype">Edit</li>
        </ol>
    </nav>
    <h1 *ngIf="!isNewResourcetype" class="titre">
        <button style="float: right;" (click)="delete()" class="btn btn-danger btn-error">
            Delete
        </button> Modify resource category {{resourcetype.id}}
    </h1>
    <h1 *ngIf="isNewResourcetype" class="titre">Add a resource category</h1>

    <div *ngIf="step === 1" class="first-step">
        <p>
            Resource category Infos
        </p>
        <div class=" page-contenu ">
            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Name</span>
                        <input [(ngModel)]="resourcetype.name" type="text" class="form-control" [ngClass]="{'is-invalid': showErrors1 && (errorResourcetypeName)}">
                    </div>
                    <div class="">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Unit</span>
                            <select [(ngModel)]="resourcetype.unit" type="text" class="form-control">
                                <option value="no">No unit</option>
                                <option value="Kg">Kg</option>
                                <option value="g">g</option>
                                <option value="m">m</option>
                                <option value="L">L</option>
                            </select>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">Description</span>
                        <textarea [(ngModel)]="resourcetype.description" type="text" class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <div>
                <button (click)="endFirstStep()" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>

</div>