<div class="container-fluid" style="margin-top: 16px;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>Home</a></li>
            <li class="breadcrumb-item"><a [routerLink]="'/productpack'">Product packs</a></li>
            <li class="breadcrumb-item active" *ngIf="!isNewProductpack">{{productpack.name}}</li>
        </ol>
    </nav>
    <a [routerLink]="'/productpack/edit/' + productpack._id" style="float: right;">Edit</a>
    <h1 *ngIf="!isNewProductpack" class="titre">
        {{productpack.name}}
    </h1>
    <p>
        Company : {{productpack.company.name}}
        <br>
    </p>
    <div class="row">
        <div class="col-lg-8">
            <div class="first-step card shadow-sm">
                <div class="card-body">
                    <p class="card-title">
                        Productpack Infos
                    </p>
                    <div class=" page-contenu ">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Name</span>
                                    <input [(ngModel)]="productpack.name" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Price</span>
                                    <input [(ngModel)]="productpack.price" type="number" class="form-control">
                                    <button class="btn btn-primary">
                                        {{company.currency}}
                                    </button>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Product</span>
                                    <select [(ngModel)]="productpack.product" type="text" class="form-control">
                                        <option [ngValue]="p" *ngFor="let p of products">
                                            {{p.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Quantity</span>
                                    <input [(ngModel)]="productpack.quantity" type="number" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<div style="height: 25vh;">

</div>