<div class="container-fluid" style="margin-top: 16px;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>Home</a></li>
            <li class="breadcrumb-item"><a [routerLink]="'/product'">Products</a></li>
            <li class="breadcrumb-item active" *ngIf="!isNewProduct">{{product.name}}</li>
        </ol>
    </nav>
    <a [routerLink]="'/product/edit/' + product._id" style="float: right;">Edit</a>
    <h1 *ngIf="!isNewProduct" class="titre">
        {{product.name}}
    </h1>
    <p>
        Company : {{company.name}}
        <br>
    </p>

    <div class="stats mb-4">
        <div class="row">
            <div class="col-lg-4">
                <div class="text-bg-primary text-center p-3">
                    <h1>
                        {{totalItems - totalSales}}
                    </h1>
                    <div>
                        Now
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="text-bg-primary text-center p-3">
                    <h1>
                        {{totalItems}}
                    </h1>
                    <div>
                        Product items
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="text-bg-primary text-center p-3">
                    <h1>
                        {{totalSales}}
                    </h1>
                    <div>
                        Sales
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="first-step card shadow-sm">
                <div class="card-body">
                    <p class="card-title">
                        Product Infos
                    </p>
                    <div class=" page-contenu ">

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Name</span>
                                    <input [(ngModel)]="product.name" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Price</span>
                                    <input [(ngModel)]="product.price" type="number" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Content</span>
                                    <input [(ngModel)]="product.content" type="text" class="form-control">

                                    <select (ngModelChange)="convertir($event)" [(ngModel)]="product.unit" type="text" class="form-control">
                                        <ng-container *ngFor="let unit of units">
                                            <option *ngIf="isSametype(unit, product.unit)" [value]="unit.symbole">{{unit.label}}</option>
                                        </ng-container>
                                    </select>
                                    <button (click)="save()" class="btn btn-primary">
                                        Save
                                    </button>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Category</span>
                                    <input readonly [(ngModel)]="product.category" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Type</span>
                                    <input readonly [(ngModel)]="product.type" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div *ngIf="company.option.productResource" class="first-step card shadow-lg">
                <div class="card-body">
                    <p class="card-title">
                        Resources
                    </p>
                    <div class=" page-contenu ">
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Resource</span>
                                    <select [(ngModel)]="resource" type="text" class="form-control" [ngClass]="{'is-invalid': showErrors && (!resource.name)}">
                                        <option [ngValue]="r" *ngFor="let r of resources">
                                            {{r.name}}
                                        </option>
                                    </select>
                                    <span *ngIf="resource.unit" class="input-group-text">{{resource.unit}}</span>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Quantity</span>
                                    <input [(ngModel)]="quantity" type="number" class="form-control" [ngClass]="{'is-invalid': showErrors && (quantity <= 0)}">

                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Unit</span>

                                    <select [(ngModel)]="unit" type="text" class="form-control">
                                        <ng-container *ngFor="let unit of units">
                                            <option *ngIf="resource && isSametype(unit, resource.unit)" [value]="unit.symbole">{{unit.label}}</option>
                                        </ng-container>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-1">
                                <div class="">
                                    <button (click)="add()" class="btn btn-primary" style="width: 100%;">
                                        Add
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <ul>
                            <li *ngFor="let item of product.resources">
                                {{convert(item.quantity, item.resource.unit, item.unit)}} {{item.unit}} {{item.resource.name}} &nbsp;
                                <a style="color: red; cursor: pointer;" (click)="deleteResource(item)">Supprimer</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div style="height: 25vh;">

</div>