<div class="container-fluid" style="margin-top: 16px;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>Home</a></li>
            <li class="breadcrumb-item"><a [routerLink]="'/productpack'">Product packs</a></li>
            <li class="breadcrumb-item active" *ngIf="isNewProductpack">new</li>

            <li class="breadcrumb-item active" *ngIf="!isNewProductpack"><a [routerLink]="'/productpack/view/' + productpack.id">{{productpack.name}}</a></li>
            <li class="breadcrumb-item active" *ngIf="!isNewProductpack">Edit</li>
        </ol>
    </nav>
    <h1 *ngIf="!isNewProductpack" class="titre">
        <button style="float: right;" (click)="delete()" class="btn btn-danger btn-error">
            Delete
        </button> Modify product pack {{productpack.id}}
    </h1>
    <h1 *ngIf="isNewProductpack" class="titre">Add a product pack</h1>
    <div style="margin-top: -10px; margin-bottom: 20px;">
        Company : {{company.name}}
    </div>

    <div class="first-step">
        <p>
            Productpack Infos
        </p>
        <div class=" page-contenu ">
            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Name</span>
                        <input [(ngModel)]="productpack.name" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Price</span>
                        <input [(ngModel)]="productpack.price" type="number" class="form-control">
                        <button class="btn btn-primary">
                            {{company.currency}}
                        </button>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Product</span>
                        <select [(ngModel)]="productpack.product" type="text" class="form-control">
                            <option [ngValue]="p" *ngFor="let p of products">
                                {{p.name}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Quantity</span>
                        <input [(ngModel)]="productpack.quantity" type="number" class="form-control">
                    </div>
                </div>
            </div>
            <div>
                <button (click)="save()" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>

</div>