<div class="container-fluid" style="margin-top: 16px;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a [routerLink]="'/resourceusedgroup'">Resources used</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{resourceusedgroup.date | date: 'yyyy-MM-dd HH:mm' }}</li>
        </ol>
    </nav>
    <h1>Resource used : {{resourceusedgroup.date | date: 'yyyy-MM-dd HH:mm'}} </h1>

    <div class=" page-contenu ">
        <div class="">
            <div class="">
                <table datatable [dtOptions]="dtOptions " [dtTrigger]="dtTrigger " class="row-border hover ">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Resource</th>
                            <th style="text-align: right;">Whole</th>
                            <th style="text-align: right;">Opened</th>
                            <th style="text-align: right;">Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let resourceused of resourcesused" (click)="viewResourceusedResource(resourceused)">
                            <td>{{resourceused.date | date: 'yyyy-MM-dd HH:mm'}}</td>
                            <td>
                                <span style="float: right;">
                                    {{resourceused.resource.content}}
                                    {{resourceused.resource.unit}}
                                </span> {{resourceused.resource.name}}

                            </td>
                            <td style="text-align: right;">{{resourceused.whole}}</td>
                            <td style="text-align: right;">{{resourceused.opened}} {{resourceused.resource.unit}}</td>
                            <td style="text-align: right;">{{resourceused.quantity | number}} {{resourceused.resource.unit}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>