<div class="container-fluid" style="margin-top: 16px;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>Home</a></li>
            <li class="breadcrumb-item"><a [routerLink]="'/resourcepack'">Resourcepacks</a></li>
            <li class="breadcrumb-item active" *ngIf="!isNewResourcepack">{{resourcepack.name}}</li>
        </ol>
    </nav>
    <a [routerLink]="'/resourcepack/edit/' + resourcepack.id" style="float: right;">Edit</a>
    <h1 *ngIf="!isNewResourcepack" class="titre">
        {{resourcepack.name}}
    </h1>
    <p>
        Company : {{resourcepack.company.name}}
        <br>
    </p>
    <div class="row">
        <div class="col-lg-8">
            <div class="first-step card shadow-sm">
                <div class="card-body">
                    <p class="card-title">
                        Resourcepack Infos
                    </p>
                    <div class=" page-contenu ">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Name</span>
                                    <input [(ngModel)]="resourcepack.name" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Price</span>
                                    <input [(ngModel)]="resourcepack.price" type="number" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Resource</span>
                                    <select [(ngModel)]="resourcepack.resource" type="text" class="form-control">
                                        <option [ngValue]="p" *ngFor="let p of resources">
                                            {{p.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Quantity</span>
                                    <input [(ngModel)]="resourcepack.quantity" type="number" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Supplier</span>
                                    <input readonly [value]="resourcepack.supplier?.name" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
        </div>
    </div>

</div>

<div style="height: 25vh;">

</div>