<div class="container-fluid" style="margin-top: 16px;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Procurement</li>
        </ol>
    </nav>
    <h1>Procurement</h1>

    <div class=" page-contenu ">
        <div class="">
            <div class="">
                <table datatable [dtOptions]="dtOptions " [dtTrigger]="dtTrigger " class="row-border hover ">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Date</th>
                            <th>Resource/Pack</th>
                            <th style="text-align: right;">Quantity</th>
                            <th style="text-align: right;">Quantity Category</th>
                            <th>Category</th>
                            <th style="text-align: right;">Price</th>
                            <th style="text-align: center;">Status</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let resourceitem of resourceitems" (click)="edit(resourceitem)">
                            <td>{{resourceitem.id}}</td>
                            <td>{{resourceitem.date | date: 'yyyy-MM-dd HH:mm'}}</td>
                            <td>
                                <ng-container *ngIf="resourceitem.resource">
                                    <span style="float: right;">
                                        {{resourceitem.resource.content}} {{resourceitem.resource.unit}}
                                    </span> {{resourceitem.resource.name}}
                                </ng-container>
                                <ng-container *ngIf="resourceitem.resourcepack">
                                    <span style="float: right;">
                                        {{resourceitem.resourcepack.resource.content *
                                        resourceitem.resourcepack.quantity}} {{resourceitem.resourcepack.resource.unit}}
                                    </span> {{resourceitem.resourcepack.name}}
                                </ng-container>
                            </td>
                            <td style="text-align: right;">{{resourceitem.quantity}}</td>
                            <td style="text-align: right;">
                                <ng-container *ngIf="resourceitem.resource">
                                    {{resourceitem.quantity * resourceitem.resource.content}} {{resourceitem.resource.unit}}
                                </ng-container>
                                <ng-container *ngIf="resourceitem.resourcepack">
                                    {{resourceitem.quantity * resourceitem.resourcepack.quantity *resourceitem.resourcepack.resource.content}} {{resourceitem.resourcepack.resource.unit}}
                                </ng-container>
                            </td>
                            <td>
                                <ng-container *ngIf="resourceitem.resource">
                                    {{resourceitem.resource.category.name }}
                                </ng-container>
                                <ng-container *ngIf="resourceitem.resourcepack">
                                    {{resourceitem.resourcepack.resource.category.name }}
                                </ng-container>
                            </td>
                            <td [ngClass]="{'prix-rouge': !isPrix(resourceitem)}" class="" style="text-align: right;">
                                {{resourceitem.price | currency:'':''}}
                            </td>
                            <td style="text-align: center;">
                                <ng-container *ngIf="resourceitem.status && resourceitem.status === CONFIRMED">
                                    <b>CONFIRMED</b>
                                </ng-container>
                                <ng-container *ngIf="!(resourceitem.status && resourceitem.status === CONFIRMED)">
                                    NEW
                                </ng-container>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>