<div class="container-fluid" style="margin-top: 16px;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Fill Inventory</li>
        </ol>
    </nav>
    <h1>Fill Inventory</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam maximus aliquam velit, sed malesuada ligula blandit vel.
    </p>

    <div class=" page-contenu ">
        <div class="mb-4">
            <div class="">
                <table datatable [dtOptions]="dtOptions " [dtTrigger]="dtTrigger " class="row-border hover ">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Category</th>
                            <th style="text-align: right;">Content</th>
                            <th>Unit</th>
                            <th style="text-align: right;">Estimate</th>
                            <th style="text-align: right;">Now</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let inventory of inventories">
                            <td>
                                {{inventory.resource.name}}
                            </td>
                            <td>{{inventory.resource.category.name}}</td>
                            <td style="text-align: right;">{{inventory.resource.content | number}}</td>
                            <td>{{inventory.resource.unit}}</td>
                            <td style="text-align: right;">{{getNow(inventory.resource)}}</td>
                            <td style="text-align: right;">
                                <div class="input-group input-group-sm">
                                    <input #elem [attr.id]="inventory.id" style="text-align: right;" type="number" class="form-control" [(ngModel)]="inventory.quantity">
                                    <span class="input-group-text">{{inventory.resource.unit}}</span>
                                    <button [hidden]="true" (click)="saveInventory(inventory.resource, elem)" class="btn btn-primary">
                                        save
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <button class="btn btn-primary" (click)="saveAll()">
                Save this inventory
            </button>
        </div>
    </div>
</div>

<div *ngIf="showWaitingMessage" class="waiting">
    <div class="spinner-border text-primary grand" role="status">
    </div>
    <div class="mt-4">Saving...</div>
</div>