<div class="container-fluid" style="margin-top: 16px;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>Home</a></li>
            <li class="breadcrumb-item"><a [routerLink]="'/warehouse'">Warehouses</a></li>
            <li class="breadcrumb-item active" *ngIf="isNewWarehouseblock">new</li>
            <li class="breadcrumb-item active" *ngIf="!isNewWarehouseblock"><a [routerLink]="'/warehouse/view/' + warehouse._id">{{warehouse.name}}</a></li>
            <li class="breadcrumb-item active" *ngIf="!isNewWarehouseblock">Edit</li>
        </ol>
    </nav>
    <h1 *ngIf="!isNewWarehouseblock" class="titre">
        <button style="float: right;" (click)="delete()" class="btn btn-danger btn-error">
            Delete
        </button> Modify warehouseblock {{warehouseblock.name}}
    </h1>
    <h1 *ngIf="isNewWarehouseblock" class="titre">Add a warehouseblock to {{ warehouse.name }}'s Warehouse</h1>

    <div *ngIf="step === 1" class="first-step">
        <p>
            Warehouseblock Infos
        </p>
        <div class=" page-contenu ">
            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Name</span>
                        <input [(ngModel)]="warehouseblock.name" type="text" class="form-control" [ngClass]="{'is-invalid': showErrors1 && (errorWarehouseblockName)}">
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">Location</span>
                        <input [(ngModel)]="warehouseblock.position" type="text" class="form-control" [ngClass]="{'is-invalid': showErrors1 && (errorWarehouseblockName)}">
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">Surface</span>
                        <input [(ngModel)]="warehouseblock.surface" type="text" class="form-control" [ngClass]="{'is-invalid': showErrors1 && (errorWarehouseblockName)}">
                    </div>

                    <div class="errors" style="margin-bottom: 20px; color: red; margin-top: -5px; font-size: 0.9em;">
                        <div *ngIf="errorWarehouseblockName">
                            Required field
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">Description</span>
                        <textarea [(ngModel)]="warehouseblock.description" type="text" class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <div>
                <button (click)="endFirstStep()" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>

</div>