<div class="container-fluid" style="margin-top: 16px;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Product items</li>
        </ol>
    </nav>
    <h1>Product items</h1>

    <div class=" page-contenu ">
        <div class="">
            <div class="">
                <table datatable [dtOptions]="dtOptions " [dtTrigger]="dtTrigger " class="row-border hover ">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Date</th>
                            <th>Product packs / Products</th>
                            <th style="text-align: right;">Quantity</th>
                            <th style="text-align: right;">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let productitem of productitems" (click)="edit(productitem)">
                            <td>{{productitem.id}}</td>
                            <td>{{productitem.date | date: 'yyyy-MM-dd'}}</td>
                            <td>

                                <ng-container *ngIf="productitem.product">
                                    {{productitem.product.name}}
                                </ng-container>
                                <ng-container *ngIf="productitem.productpack">
                                    {{productitem.productpack.name}}
                                </ng-container>
                            </td>
                            <td style="text-align: right;">{{productitem.quantity}}</td>
                            <td style="text-align: right;">{{productitem.price | currency:'':''}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>