<div class="container-fluid" style="margin-top: 16px;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Inventory analysis</li>
        </ol>
    </nav>
    <h1>Inventory analysis</h1>

    <div class=" page-contenu ">
        <div class="">
            <div class="">
                <table datatable [dtOptions]="dtOptions " [dtTrigger]="dtTrigger " class="row-border hover ">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Category</th>
                            <th style="text-align: right;">Content</th>
                            <th>Unit</th>
                            <th class="back-doux">Last inventory</th>
                            <th class="back-doux">Quantity</th>
                            <th style="text-align: right;">Buy.</th>
                            <th style="text-align: right;">Prod.</th>
                            <th style="text-align: right;">Used</th>
                            <th style="text-align: right;">Now</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let resource of resources">
                            <td>
                                <a [routerLink]="'/inventory/view/' + resource._id">
                                    {{resource.name}}
                                </a>
                            </td>
                            <td>{{resource.category.name}}</td>
                            <td style="text-align: right;">{{resource.content | number}}</td>
                            <td>{{resource.unit}}</td>
                            <td class="back-doux">{{getLastInventory(resource).date | date: 'yyyy-MM-dd HH:mm'}}</td>
                            <td class="back-doux" style="text-align: right; font-weight: bold;">{{getLastInventory(resource).quantity | number}}</td>
                            <td style="text-align: right;">{{getResourceItems(resource) | number}} {{resource.unit}}</td>
                            <td style="text-align: right;">{{getResourceUsedItems(resource) | number}} {{resource.unit}}</td>
                            <td style="text-align: right;">{{getProductItems(resource) | number}} {{resource.unit}}</td>
                            <td style="text-align: right; font-weight: bold;">
                                {{getNow(resource)}}
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>