<div class="container-fluid" style="margin-top: 16px;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>Home</a></li>
            <li class="breadcrumb-item"><a [routerLink]="'/client'">Clients</a></li>
            <li class="breadcrumb-item active" *ngIf="isNewClient">new</li>

            <li class="breadcrumb-item active" *ngIf="!isNewClient"><a [routerLink]="'/client/view/' + client.id">{{client.name}}</a></li>
            <li class="breadcrumb-item active" *ngIf="!isNewClient">Edit</li>
        </ol>
    </nav>

    <h1 *ngIf="!isNewClient" class="titre">
        <button style="float: right;" (click)="delete()" class="btn btn-danger btn-error">
            Delete
        </button> Modify client {{client.id}}
    </h1>
    <h1 *ngIf="isNewClient" class="titre">Add a client</h1>

    <div class="first-step">
        <p>
            Client Infos
        </p>
        <div class=" page-contenu ">
            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group mb-3">
                        <span class="input-group-text">First Name</span>
                        <input [(ngModel)]="client.firstname" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Surname</span>
                        <input [(ngModel)]="client.name" type="text" class="form-control">
                    </div>
                </div>
            </div>
            <app-contact-display [contact]="client.contact"></app-contact-display>
            <div>
                <button (click)="save()" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>

</div>