<div *ngIf="product" class="container-fluid" style="margin-top: 16px;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>Home</a></li>
            <li class="breadcrumb-item"><a [routerLink]="'/product'">Products</a></li>
            <li class="breadcrumb-item active" *ngIf="isNewProduct">new</li>

            <li class="breadcrumb-item active" *ngIf="!isNewProduct"><a [routerLink]="'/product/view/' + product._id">{{product.name}}</a></li>
            <li class="breadcrumb-item active" *ngIf="!isNewProduct">Edit</li>
        </ol>
    </nav>
    <h1 *ngIf="!isNewProduct" class="titre">
        <button style="float: right;" (click)="delete()" class="btn btn-danger btn-error">
            Delete
        </button> Modify product {{product.id}}
    </h1>
    <h1 *ngIf="isNewProduct" class="titre">Add a product</h1>
    <div style="margin-top: -10px; margin-bottom: 20px;">
        Company : {{company.name}}
    </div>

    <div class="first-step">
        <p>
            Product Infos
        </p>
        <div class=" page-contenu ">
            <div class="row">
                <div class="col-lg-8">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Name</span>
                        <input [(ngModel)]="product.name" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Category</span>
                        <select [(ngModel)]="product.category" type="text" class="form-control">
                            <option *ngFor="let pc of productcategorys" [ngValue]="pc.name">{{pc.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Content</span>
                        <input [(ngModel)]="product.content" type="number" class="form-control">
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Unit</span>
                        <select [(ngModel)]="product.unit" type="text" class="form-control">
                            <ng-container *ngFor="let unit of units">
                                <option [value]="unit.symbole">{{unit.label}}</option>
                            </ng-container>                            
                        </select>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Price</span>
                        <input [(ngModel)]="product.price" type="number" class="form-control">
                        <button class="btn btn-primary">
                            {{company.currency}}
                        </button>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Type</span>
                        <select [(ngModel)]="product.type" type="text" class="form-control">
                            <option *ngFor="let pt of producttypes" [value]="pt.name">{{pt.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div>
                <button (click)="save()" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>

</div>