<div class="container-fluid" style="margin-top: 16px;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Procurement</li>
        </ol>
    </nav>
    <h1>Product Item Confirmation</h1>
    <div class=" page-contenu ">
        <div class="">
            <div class="">
                <table datatable [dtOptions]="dtOptions " [dtTrigger]="dtTrigger " class="row-border hover ">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Product/Pack</th>
                            <th style="text-align: right;">Quantity Announced</th>
                            <th style="text-align: right;">Quantity Received</th>
                            <th style="text-align: center;">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let productitem of productitems">
                            <td>{{productitem.date | date: 'yyyy-MM-dd'}}</td>
                            <td>
                                <ng-container *ngIf="productitem.product">
                                    <span style="float: right;">
                                        {{productitem.product.content}} {{productitem.product.unit}}
                                    </span> {{productitem.product.name}}
                                </ng-container>
                                <ng-container *ngIf="productitem.productpack">
                                    <span style="float: right;">
                                        {{productitem.productpack.product.content * productitem.productpack.quantity}} {{productitem.productpack.product.unit}}
                                    </span> {{productitem.productpack.name}}
                                </ng-container>
                            </td>
                            <td style="text-align: right;">
                                <div *ngIf="productitem.quantityNotValidated">
                                    {{productitem.quantityNotValidated | number}}
                                </div>
                                <div *ngIf="!productitem.quantityNotValidated">
                                    {{productitem.quantity | number}}
                                </div>
                            </td>
                            <td style="text-align: right;" [ngClass]="{'prix-rouge': isNotEqual(productitem)}">
                                <div *ngIf="productitem.status !== CONFIRMED" class="input-group input-group-sm">
                                    <input style="text-align: right;" type="number" class="form-control" [(ngModel)]="productitem.quantityValidated">
                                    <span class="input-group-text">{{productitem.quantity | number}}</span>
                                </div>
                                <div *ngIf="CONFIRMED === productitem.status">
                                    {{productitem.quantity | number}}
                                </div>
                            </td>
                            <td style="text-align: center;">
                                <button *ngIf="CONFIRMED !== productitem.status" class="btn btn-primary btn-sm" (click)="confirmProductItem(productitem)">
                                    Confirm
                                </button>
                                <b *ngIf="CONFIRMED === productitem.status">
                                    CONFIRMED
                                </b>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>