
<div class="container-fluid" style="margin-top: 16px;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li i18n class="breadcrumb-item"><a>Home</a></li>
            <li i18n class="breadcrumb-item"><a [routerLink]="'/warehouse'">Warehouses</a></li>
            <li i18n class="breadcrumb-item active" *ngIf="!isNewWarehouse">Warehouse: {{warehouse.name}}</li>
        </ol>
    </nav>
    <a [routerLink]="'/warehouse/edit/' + warehouse._id" style="float: right;">Edit</a>
    <h1 i18n *ngIf="!isNewWarehouse" class="titre">
        Warehouse: {{warehouse.name}}
    </h1>
    <p i18n>
        Company : {{company.name}}
        <br>
    </p>
    <div *ngIf="step === 1" class="first-step">
        <p>
            <b i18n>Warehouse Infos</b>
        </p>
        <div class=" page-contenu ">
            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Name</span>
                        <input readonly [value]="warehouse.name" type="text" class="form-control">
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">Location</span>
                        <input readonly [value]="warehouse.location" type="text" class="form-control">
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">Surface</span>
                        <input readonly [value]="warehouse.surface" type="text" class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Description</span>
                        <textarea readonly [value]="warehouse.description" type="text" class="form-control"></textarea>
                    </div>
                </div>
                <div class="col-lg-6">
                    <p>
                        <b i18n>Warehouse blocks Infos</b>
                    </p>
                    <a i18n [routerLink]="'/warehouseblock/edit/' + warehouseblock._id" [queryParams]="{wh_id: warehouse._id}" style="float: right;">Add Block</a>
                    <table class="table">
                        <thead>
                          <tr>
                            <th i18n scope="col">Name</th>
                            <th i18n scope="col">Position</th>
                            <th i18n scope="col">Surface</th>
                            <th i18n scope="col">Description</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let block of blocks">
                              <td>{{block.name}}</td>
                              <td>{{block.position}}</td>
                              <td>{{block.surface}}</td>
                              <td>{{block.description}}</td>
                              <td><a i18n [routerLink]="'/warehouseblock/edit/' + block._id" [queryParams]="{wh_id: warehouse._id}" style="float: right;">Edit</a></td>
                              <td><a [routerLink]="'/warehouseblock/delete/' + block._id" style="float: right;"></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>