<div class="container-fluid" style="margin-top: 16px;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>Home</a></li>
            <li class="breadcrumb-item"><a [routerLink]="'/warehouse'">Warehouses</a></li>
            <li class="breadcrumb-item active" *ngIf="isNewWarehouse">new</li>
            <li class="breadcrumb-item active" *ngIf="!isNewWarehouse"><a [routerLink]="'parameter/warehouse/edit/' + warehouse.id">{{warehouse.name}}</a></li>
            <li class="breadcrumb-item active" *ngIf="!isNewWarehouse">Edit</li>
        </ol>
    </nav>
    <a [routerLink]="'/warehouse/edit/' + warehouse.id" style="float: right;">Edit</a>
    <h1 *ngIf="!isNewWarehouse" class="titre">
        {{warehouse.name}}
    </h1>
    <div *ngIf="step === 1" class="first-step">
        <p>

        </p>
        <div class=" page-contenu ">

            <div class=" page-contenu ">
                <div class="card shadow-lg">
                    <div class="card-body">
                        <table datatable [dtOptions]="dtOptions " [dtTrigger]="dtTrigger " class="row-border hover ">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Owner</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let company of companies">
                                    <td>{{company.name}}</td>
                                    <td>{{company.type}}</td>
                                    <td>{{company.owner.names}}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>