<div class="container-fluid" style="margin-top: 16px;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>Home</a></li>
            <li class="breadcrumb-item"><a [routerLink]="'/productitem'">Productitems</a></li>
            <li class="breadcrumb-item active" *ngIf="isNewProductitem">new</li>

            <li class="breadcrumb-item active" *ngIf="!isNewProductitem"><a [routerLink]="'/productitem/view/' + productitem.id">{{productitem.id}}</a></li>
            <li class="breadcrumb-item active" *ngIf="!isNewProductitem">Edit</li>
        </ol>
    </nav>
    <h1 *ngIf="!isNewProductitem" class="titre">
        Modify product item {{productitem.id}}
    </h1>
    <h1 *ngIf="isNewProductitem" class="titre">Add a product item</h1>
    <div style="margin-top: -10px; margin-bottom: 20px;">
        Company : {{company.name}}
    </div>

    <div class="first-step">
        <p>
            Product item Infos
        </p>
        <div class=" page-contenu ">
            <div class="row">
                <div class="col-lg-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Date</span>
                        <input [ngModel]="productitem.date | date: 'yyyy-MM-dd'" (ngModelChange)="productitem.date = $event" type="date" class="form-control">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="mb-2 mt-2">
                        <input type="radio" [(ngModel)]="type" value="product" name="type"> Product &nbsp;&nbsp;&nbsp;

                        <ng-container *ngIf="company.option.productPack">
                            <input type="radio" [(ngModel)]="type" value="productpack" name="type"> Product Pack&nbsp;&nbsp;&nbsp;
                        </ng-container>

                    </div>
                </div>
                <div class="col-lg-6" *ngIf=" type === 'product' ">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Product</span>
                        <select (ngModelChange)="setInfosOfProduct()" [(ngModel)]="productitem.product" type="text" class="form-control">
                            <option *ngFor="let s of products" [ngValue]="s">{{s.name}}</option>
                        </select>
                    </div>

                    <div>
                        <ul *ngIf="productitem.product">
                            <li *ngFor="let item of productitem.product.resources">
                                {{item.quantity}} {{item.resource.unit}} {{item.resource.name}} /
                                <b>
                                    {{getTotalResourceItemByResource(item.resource)}}
                                </b>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="col-lg-6" *ngIf=" type === 'productpack' && company.option.productPack">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Product Pack</span>
                        <select (ngModelChange)="setInfosOfProduct()" [(ngModel)]="productitem.productpack" type="text" class="form-control">
                            <option *ngFor="let s of productpacks" [ngValue]="s">{{s.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Quantity</span>
                        <input (ngModelChange)="setInfosOfProduct()" [(ngModel)]="productitem.quantity" type="number" class="form-control">
                        <button class="btn btn-primary">
                            {{quantityMax}}
                        </button>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Price</span>
                        <input [(ngModel)]="productitem.price" type="number" class="form-control">
                        <button class="btn btn-primary">
                            {{company.currency}}
                        </button>
                    </div>
                </div>
            </div>
            <div>
                <button [disabled]="quantityMax < productitem.quantity" (click)="save()" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>

</div>